{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hornit-dev.myshopify.com/products/configure/227240/edit
{% endcomment %}
{% if product.metafields.custom_fields["crosselling_title"] != blank %}
  <div class="custom-field custom-field__crosselling-title custom-field__type--text">
    <h3 class="custom-field--title">Crosselling Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["crosselling_title"] }}
    </div>
  </div>
{% endif %}