{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hornit-dev.myshopify.com/products/configure/166287/edit
{% endcomment %}
{% if product.metafields.custom_fields["info_area_description"] != blank %}
  <div class="custom-field custom-field__info-area-description custom-field__type--text">
    <h3 class="custom-field--title">Info Area Description</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["info_area_description"] }}
    </div>
  </div>
{% endif %}