{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hornit-dev.myshopify.com/products/configure/166298/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_image_one"] != blank %}
  <div class="custom-field custom-field__product-image-one custom-field__type--url">
    <h3 class="custom-field--title">Product Image One</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_image_one"] }}
    </div>
  </div>
{% endif %}