{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hornit-dev.myshopify.com/products/configure/188476/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_description_title"] != blank %}
  <div class="custom-field custom-field__product-description-title custom-field__type--text">
    <h3 class="custom-field--title">Product Description Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_description_title"] }}
    </div>
  </div>
{% endif %}