<!-- Begin Mailchimp Signup Form -->
<link rel="preload" href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" type="text/css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" type="text/css"></noscript>

<style type="text/css">
	#mc_embed_signup{width: 100%; }
	#mc_embed_signup .button {
		border: 1px solid white;
		height: 3em !important;
	}

	#mc_embed_signup input[type=checkbox] {
		-webkit-appearance: none;
		border: 1px solid white !important;
		width: 55px !important;
		border-radius: 15px !important;
	}

	#mc_embed_signup p {
		margin-bottom: 5px;
	}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
<form action="https://thehornit.us11.list-manage.com/subscribe/post?u=42a0c8cc98232966e28882ee9&amp;id=5a85644646" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
		<h6 class="white">Subscribe to our newsletter</h6>
		<p class="white">Join to get 10% off your first order!</p>
		<div class="indicates-required visually-hidden">
			<span class="asterisk">*</span>
			indicates required
		</div>

		<div class="main-contact-buttons">
			<div class="mc-field-group">
				<label for="mce-FNAME" class="visually-hidden">First Name </label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME" class="visually-hidden">Last Name </label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
			</div>

		</div>

			<div class="mc-field-group">
				<label for="mce-EMAIL" class="visually-hidden">Email Address
					<span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email"
					id="mce-EMAIL">
			</div>

{%- comment -%}<div class="mc-field-group input-group">
    <strong>Who do you want to hear from? </strong>
    <ul><li><input type="checkbox" value="2" name="group[20709][2]" id="mce-group[20709]-20709-0"><label for="mce-group[20709]-20709-0">Hornit</label></li>
<li><input type="checkbox" value="1" name="group[20709][1]" id="mce-group[20709]-20709-1"><label for="mce-group[20709]-20709-1">Mini Hornit</label></li>
</ul>
</div> {%- endcomment -%} 
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_42a0c8cc98232966e28882ee9_5a85644646" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->