<!-- The Modal -->
<div id="myModal" class="mymodal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="close-group">
            <span class="close">&times;</span>
        </div>
        <div class="modal-logo">

            
            {% include 'inline-icon' with svg: 'hornit-logo.svg', alt: shop_title, class: 'logo-main' %}

        </div>

        <h2 class='modal_title'></h2>
        <p class='modal-desc'></p>

  

        </div><!-- #modal-link -->
  
    </div>

</div>

