{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.shortdesc_title' %}
  {% include 'custom_fields.products.shortdesc_desc' %}
  {% include 'custom_fields.products.product_description_title' %}
  {% include 'custom_fields.products.information_list' %}
  {% include 'custom_fields.products.info_area_title' %}
  {% include 'custom_fields.products.info_area_description' %}
  {% include 'custom_fields.products.info_area_title_two' %}
  {% include 'custom_fields.products.info_area_description_two' %}
  {% include 'custom_fields.products.product_image_full_screen' %}
  {% include 'custom_fields.products.product_image_one' %}
  {% include 'custom_fields.products.product_image_two' %}
  {% include 'custom_fields.products.product_image_three' %}
  {% include 'custom_fields.products.video_url' %}
  {% include 'custom_fields.products.faq_question' %}
  {% include 'custom_fields.products.faq_question_2' %}
  {% include 'custom_fields.products.faq_question_3' %}
  {% include 'custom_fields.products.faq_question_4' %}
  {% include 'custom_fields.products.faq_section' %}
  {% include 'custom_fields.products.faq_answer' %}
  {% include 'custom_fields.products.faq_answer_2' %}
  {% include 'custom_fields.products.faq_answer_3' %}
  {% include 'custom_fields.products.faq_answer_4' %}
  {% include 'custom_fields.products.faq_button_link' %}
  {% include 'custom_fields.products.music_player_group' %}
  {% include 'custom_fields.products.install_instructions' %}
  {% include 'custom_fields.products.info_fullscreen_image' %}
  {% include 'custom_fields.products.helmet_sizing_pop-up' %}
  {% include 'custom_fields.products.mtb_notice_title' %}
  {% include 'custom_fields.products.mtb_notice_description' %}
  {% include 'custom_fields.products.mtb_full_description' %}
  {% include 'custom_fields.products.helmet_size_title' %}
  {% include 'custom_fields.products.helmet_size_description' %}
  {% include 'custom_fields.products.video_section_title' %}
  {% include 'custom_fields.products.product_faq_link' %}
  {% include 'custom_fields.products.product_faq_link_title' %}
  {% include 'custom_fields.products.bike_warranty_title' %}
  {% include 'custom_fields.products.bike_warranty_description' %}
  {% include 'custom_fields.products.stock_due_disclaimer' %}
  {% include 'custom_fields.products.show_crosselling_section' %}
  {% include 'custom_fields.products.crosselling_title' %}
</div>