<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
  <div class="holder">
    <p class="uppercase black font-bolder qv-product-title"></p>
    <p class="uppercase qv-product-type"></p>
    <div class="product-price">
        <span class="money qv-product-price"></span>
    </div>
   
    <h5 class="qv-product-original-price"></h5>
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>
      <div class="quantity">
        <span>Quantity</span>
        <input type="number" class="qv-quantity" value="1" min="1">
      </div>
      <input type="submit" class="qv-add-button block-button"  value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
    </div>
    <div class="qv-product-description small-p"></div>
  </div>
  <a class="view-product" href=""><span>View Full Product Details</span></a>
</div>