@mixin reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

//FLEXBOX
//----------------------------------------

@mixin flex-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin space-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin space-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin space-flexend-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}

@mixin space-flexend-spacebetween {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}

@mixin space-flexend-column {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flexend-center-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

@mixin flexend-flexend-row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

@mixin space-flexstart-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

@mixin space-flexstart-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

@mixin space-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@mixin space-between-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin space-between-column-flexstart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

@mixin space-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flexstart-flexstart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

@mixin flexstart-flexend-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
}

@mixin flexstart-flexend-column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

@mixin flexstart-center-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

@mixin center-flexstart-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
