


<div class="extra-page" id="page-cart">

    <div class="cart-header">

        <h4 class="uppercase ta-center">{{ 'cart.filled.title' | t }}</h4>

    </div>

    <div class="cart-frame">

        <div class="cart-main-contents">

            <div class="cart-main-contents-inner">
                <div class="cart-upper">

                    <div class="basket-header">

                        <h6 class="uppercase font-bolder ta-center">{{ 'cart.filled.basket' | t }}</h6>

                        {% include 'confidence-logos' %}
                    </div>

                    <div class="cart-page-contents js-cart-page-contents" data-cart-item-count="{{ cart.item_count }}">
                       
                        <div class="main-cart-content-section">
                            {% include 'cart-contents' %}
                        </div>

                        <div class="cart-bottom-contents">
                            {% section 'cart-collection' %}
                        </div>
                      
                    </div>

                </div>

            </div>


        </div>




    
       </div>


            {% section 'cart-recommendations' %}


  

</div>

