<div class="extra-page" id="contact-page">
    <div class="page-header">
        <div class="inner">
            <h4 class="page-title ta-center yellow uppercase">{{ page.title }}</h4>
            <div class="page-content white">{{ page.content }}</div>
        </div>
    </div>


    {% section 'contact-page' %}


</div>
