<div class="extra-page" id="faq-page">
	<div class="page-header klarna-color">
		<div class="inner">
            <img data-src="{{ 'klarna.svg' | asset_url }}" alt="klarna" class="klarna-logo lazyload"/>
			<!-- <h2 class="page-title ta-center white uppercase">{{ page.title }}</h2> -->
			<h4 class="uppercase">{{ page.content }}</h4>
		</div>
	</div>

	{% section 'klarna-faq-ms' %}
	
	{% section 'faq-klarna' %}


</div>


