<div class="extra-page" id="faq-page">
	<div class="page-header">
		<div class="inner">
			<h2 class="page-title ta-center yellow uppercase">{{ page.title }}</h2>
			<h4 class="uppercase white">{{ page.content }}</h4>
		</div>
	</div>

	{% section 'faq-menu-section' %}
	
	{% section 'faq' %}


</div>
