<div class="extra-page" id="about-page">
    <div class="page-header">
        <div class="inner">
            <h4 class="page-title ta-center yellow uppercase">{{ page.title }}</h4>
            <p class="visually-hidden">{{ page.content }}</p>
        </div>
    </div>


    {% section 'about-page' %}


</div>
