// CART

#cart-bottom {
  @include space-between-column;

  @media (min-width: #{$screen-lg}) {
    @include space-between;
  }

  .cart-item-one {
    width: 100%;

    @media (min-width: #{$screen-lg}) {
      width: 40%;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
      display: none;

      @media (min-width: #{$screen-xl}) {
        display: block;
      }
    }
  }

  .cart-item-two {
    width: 100%;

    @media (min-width: #{$screen-lg}) {
      width: 60%;
    }

    .cart-item-inner {
      max-width: 80%;
      margin: 5vh auto;

      .cart-page-contents {
        margin-bottom: 5vh;
      }
    }
  }
}

.cart-buttons {
  padding: 2vh 0;

  * {
    margin: 0 25px;
  }
}

.product-recommendations {
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: #{$screen-md}) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.product-recommendations__loading-dots {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-recommendations__loading-dot {
  animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: $white;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 3px;

  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    animation-delay: 1s;
  }
}
@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

#page-cart {
  .cart-header {
    min-height: 10vh;
    background: $black;
    text-align: center;
    padding: 2em 0;

    * {
      color: $yellow;
      margin: 0;
    }
  }

  .cart-frame {
    max-width: 90%;
    margin: 0 auto;
    @include space-between-column;

    @media (min-width: #{$screen-lg}) {
      @include space-flexstart-row;
    }

    .cart-main-contents {
      width: 100%;

      // @media (min-width: #{$screen-lg}) {
      //   width: 70%;
      // }

      .cart-main-contents-inner {
        padding: 0 10px;
      }
    }

    .cart-bottom-contents {
      margin: 25px 0;
      margin-top: 25px;
      padding: 10px;
      background: $white;

      @media (min-width: #{$screen-lg}) {
        margin-top: 4em;
      }

      .uppercase {
        text-align: left;
      }
    }
  }
}

.main-cart-content-section {
  padding: 10px;
  background: $white;
}

#page-cart {
  background: #fdfdfd;
}

.basket-header {
  @include space-center-column;
  width: 100%;
  padding: 10px;

  @media (min-width: #{$screen-lg}) {
    @include space-flexend-spacebetween;
  }

  .confidence-banner-products {
    display: none;

    @media (min-width: #{$screen-lg}) {
      display: block;
    }
  }
}

.cart-recommendations {
  width: 100%;
  margin-top: 25px;

  @media (min-width: #{$screen-lg}) {
    width: 25%;
  }

  .cart-recommendations-main {
    .cart-recommendations-inner {
      padding: 10px;

      .collection {
        .collection-list {
          h2 {
            margin-bottom: 10px;
            text-align: left;
            font-size: 1.2rem;
            text-transform: uppercase;

            @media (min-width: #{$screen-md}) {
              font-size: 1.4rem;
            }

            @media (min-width: #{$screen-xl}) {
              font-size: 1.6rem;
            }
          }

          ul {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            align-items: flex-start;
            justify-content: space-between;

            .product-card {
              min-width: 45%;
              width: 45%;

              @media (min-width: #{$screen-sm}) {
                min-width: 30%;
                width: 30%;
              }

              @media (min-width: #{$screen-lg}) {
                min-width: 40%;
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}
